.checkbox {
	display: inline;
}
.btn-success{
	margin-left: 30px;
}
.error-modal {
	display: none; 
	z-index: 1001;
}
#reg-error-message {
	color:red;
}
/*.panel-default {
	height: 50px;
	width: 100px;
}*/
.login-items {
	/*float: left;*/
	border-width: 0.5px;
	border-style: solid;
	border-color: lightgrey;
	margin-top: 5px;
	float: left;
	/*margin-bottom: 10px;*/
}
.recipeImage {
	max-height: 250px;
	max-width: 250px;
}
.recipe {
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	margin-bottom: 10px;
}
.inner-recipe {
	float: right;
	width: 60%;
	padding-top: 5%;
}
.email-update{
	float: left;
	margin-left: 10px;
}
.initial-login{
	margin-left: 25%;
	margin-right: 22.5%;
	margin-top: 17.5%;
	padding-left: 10%;
	padding-right: 10%;

}
.login-well {
	min-height: 180px;
	margin-left: 2.5%;
	width: 30%;
}
.map-well{
	 min-height: 200px;
}
#map {
	/*height: 100%;
	width: 100%;*/
	 height: 300px;
	 width: 100%;
	 margin-top: 20px;
	 margin-bottom: 20px;
	/*position: relative;*/
}
a:hover{
	cursor: pointer;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color: #f5f5f5;*/
}

.footer a {
    float: right;
    padding: 3px;
    background-color: #DDDDDD;
    border-radius: 5px;
    border: 1px solid;
}

h1 img{
    height: 70px;
}

body {
	background-image: url("background.jpg");
	background-size: 100%;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
}

h2, h3, span {
	font-family: 'Kalam', cursive;
	color: black;
}

#ingredient-zone h3, #video-zone h3, #recipe-zone h3 {
	background-color: #DDDDDD;
	padding: 10px;
	border-radius: 5px;
}

#ingredient-zone, #video-zone, #recipe-zone{
	min-height:100px;
}

#description, h1 {
	color: white;
}

section#video-list,
section#ingredients-list,
section#recipe-list {
    min-height: 100px;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 10px;
}

.footer{
	padding: 10px;
}