.checkbox {
	display: inline;
}
.btn-success{
	margin-left: 30px;
}
.btn-warning{
	margin-top: 5px;
}
.error-modal {
	display: none; 
	z-index: 1001;
}
.nav{
	float: left;
}
.map-well {
	float: left;
	min-height: 100px;
	margin-top: 10px;
}
.expand-video-icon{
	float: right;
	margin: 5px;
	color: red;
}
.star {
     text-indent: -5000px;
     display: block;
     background: transparent url(assets/images/star.png);
     height: 10px;
     width: 10px;
}

.star.favorited {
     background-position: 0;
}

/*.panel-default {
	height: 50px;
	width: 100px;
}*/
.login-items {
	/*float: left;*/
	border-width: 0.5px;
	/*border-style: solid;
	border-color: lightgrey;*/
	margin-top: 5px;
	float: left;
	/*margin-bottom: 10px;*/
}
.recipeImage {
	max-height: 250px;
	max-width: 250px;
}
.recipe {
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	margin-bottom: 10px;
}
.inner-recipe {
	float: right;
	width: 60%;
	padding-top: 5%;
}
.email-update{
	float: left;
	margin-left: 10px;
}
.initial-login {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.input-group {
    padding-bottom: 3px;
}
.login-well {
	min-height: 180px;
	margin-left: 2.5%;
}
a:hover{
	cursor: pointer;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color: #f5f5f5;*/
}

.footer a {
    float: right;
    padding: 3px;
    background-color: #DDDDDD;
    border-radius: 5px;
    border: 1px solid;
}

h1 img{
    height: 70px;
}

body {
	background-image: url("background.jpg");
	background-size: 100%;
	background-attachment: fixed;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 110px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2, h3, span {
	font-family: 'Kalam', cursive;
	color: black;
}

#ingredient-zone h3, #video-zone h3, #recipe-zone h3 {
	background-color: #DDDDDD;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}

#ingredient-zone, #video-zone, #recipe-zone{
	min-height:100px;
}

#description {
	color: white;
	font-size: 35px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

section.video-list,
section#ingredients-list,
section#recipe-list {
    min-height: 100px;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 10px;
}

.footer{
	padding: 10px;
}
#ingredients-list {
	font-size: 30px;
}

.map-well {
	font-size: 30px;
}

#submitIngredientsButton {
	width: 100%;
	margin-left: 0;
}
#navbar-login-button{
	margin-top: 10px;
}
#recipe-details{
	min-height: 500px;
	overflow: scroll;
	padding: 10px;
}
#selected-recipe-image{
	height: 80px;
	width: 80px;
	margin: 0 auto;
}
#back-recipe-shortlist, #back-to-search {
	margin-bottom: 10px;
	margin-left: 0px;
}
#close-map {
	float:right ;
	margin: auto;
}
#open-map {
	margin-top: 11px;
	height: 60px;
	width: 160px;
	float: right;
	font-size: 35px;
}
#userName {
	float: right;
	color: blue;
	padding-right: 80px;
	margin: 20px;
}
#reg-error-message {
	color:red;
}
#guest, #register{
	margin-top: 10%;
}
#login-text {
	height: 60px;
}
#expand-video-panel{
	height: 600px;
	width: 800px;

}

@media only screen and (max-width: 980px) {
	#login-text {
		height: 30px;
	}
	#guest, #register {
	    margin-top: 5%;
	}
}